/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Nov 1, 2024, 6:35:52 PM
    Author     : Ma Tan Loc - CE181795
*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-link {
    padding: .6rem 1rem;
    margin: 0 5px;
    border-radius: 0.6rem;
    background-color: #f4f4f4;
    color: #060D10;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-link:hover {
    background-color: #21A691; /* Change background on hover */
    color: white; /* Change text color on hover */
}

.pagination-link.active {
    background-color: #21A691;
    color: white;
    border-color: #f0f2f5;
}

.image_input {
    text-align: center;
    padding: 2rem;
    border: 3px dashed #060D10;
    border-radius: .6rem;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.image_input:hover {
    border: 3px dashed #21A691;
}

.image_input i {
    transition: color 0.3s ease;
}

.image_input:hover i {
    color: #21A691;
}

.image_input label {
    cursor: pointer;
    transition: color 0.3s ease;
}

.image_input:hover label {
    color: #21A691;
}

a.canvasjs-chart-credit {
    display: none;
}   