/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Nov 4, 2024, 9:41:41 AM
    Author     : Ma Tan Loc - CE181795
*/

.status-select {
    width: auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
}

.status-select:disabled {
    cursor: not-allowed;
    font-weight: 600;
}

.status-select.delivered {
    background-color: #21A691;
    color: white;
}

.status-select.canceled {
    background-color: #EE4E4E;
    color: white;
}
