/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 28, 2025, 9:02:34 PM
    Author     : Ma Tan Loc - CE181795
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #21A691;
}
.container {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 90px rgba(0, 0, 0, .2);
    width: 100%;
    max-width: 450px;
}
.container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.container p {
    font-size: 14.5px;
    color: #888;
    margin-bottom: 1.5rem;
}
.container label {
    font-size: 14.5px;
    display: block;
    color: #333;
    margin-bottom: 0.5rem;
}
.input-group {
    position: relative;
    margin: 15px 0;
}

.input-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.input-group .bxs-hide {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.input-group .bxs-show {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.input-group input {
    width: 100%;
    padding: 13px 50px 13px 50px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-group input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-group .bxs-hide {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.input-group .bxs-show {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.btn {
    width: 100%;
    height: 48px;
    background: #21A691;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.invalid input {
    border: 0.8px solid #EE4E4E;
}
.input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}

i.bx.bxs-hide.show-hide {
    cursor: pointer;
}
i.bx.bxs-   show::before {
    cursor: pointer;
}