<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>Controller.StoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityServlet</servlet-name>
        <servlet-class>Controller.QuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>Controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adOrderServlet</servlet-name>
        <servlet-class>Controller.adOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adListServlet</servlet-name>
        <servlet-class>Controller.adListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adEditUserServlet</servlet-name>
        <servlet-class>Controller.adEditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adEditProductServlet</servlet-name>
        <servlet-class>Controller.adEditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adCreateProductServlet</servlet-name>
        <servlet-class>Controller.adCreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adDeleteProductServlet</servlet-name>
        <servlet-class>Controller.adDeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adDeleteUserServlet</servlet-name>
        <servlet-class>Controller.adDeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adProductServlet</servlet-name>
        <servlet-class>Controller.adProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adUserServelt</servlet-name>
        <servlet-class>Controller.adUserServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adCouponServlet</servlet-name>
        <servlet-class>Controller.adCouponServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>Controller.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>Controller.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeCommentServlet</servlet-name>
        <servlet-class>Controller.LikeCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestPasswordServlet</servlet-name>
        <servlet-class>Controller.requestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>Controller.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCommentServlet</servlet-name>
        <servlet-class>Controller.editCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCommentServlet</servlet-name>
        <servlet-class>Controller.deleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDataServlet</servlet-name>
        <servlet-class>Controller.OrderDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adDashboardServlet</servlet-name>
        <servlet-class>Controller.adDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adListServlet</servlet-name>
        <url-pattern>/List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adEditUserServlet</servlet-name>
        <url-pattern>/Edit-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adEditProductServlet</servlet-name>
        <url-pattern>/Edit-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adCreateProductServlet</servlet-name>
        <url-pattern>/Create-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adDeleteProductServlet</servlet-name>
        <url-pattern>/Delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adDeleteUserServlet</servlet-name>
        <url-pattern>/Delete-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adProductServlet</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adUserServelt</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/Store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityServlet</servlet-name>
        <url-pattern>/Quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adOrderServlet</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/Orders</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>adCouponServlet</servlet-name>
        <url-pattern>/Coupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeCommentServlet</servlet-name>
        <url-pattern>/LikeComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestPasswordServlet</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCommentServlet</servlet-name>
        <url-pattern>/editComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCommentServlet</servlet-name>
        <url-pattern>/deleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDataServlet</servlet-name>
        <url-pattern>/OrderData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adDashboardServlet</servlet-name>
        <url-pattern>/adDashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
